@model IEnumerable<gfi_test_landing.Models.SingleTestReportModel>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                Test Name
            </th>
            <th>
                Status
            </th>
            <th>
                Date start
            </th>
            <th>
                Date end
            </th>
            <th>
                Author
            </th>
            <th>
                General message
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.ActionLink("Details", "SingleTestReport", new { id = item.Id })
            </td>
        </tr>
        }
    </table>
</div>