@model gfi_test_landing.Report

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Report</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date_start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.general_message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.general_message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.error_message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.error_message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.warning_message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.warning_message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.error_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.error_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.report_test_collection_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report_test_collection_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BatteryTest.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BatteryTest.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine.cpu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.cpu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
