@model gfi_test_landing.Models.Chart
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<!doctype html>

<html class="no-js" lang="">

<body>
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">Browsers </h4>
                            <div id="donut_single" class="chart-wrapper">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
                google.charts.load('current', { 'packages': ['corechart'] });
                    google.charts.setOnLoadCallback(drawChart);
                    google.charts.setOnLoadCallback(Quantity);

                function drawChart() {

                    var data = google.visualization.arrayToDataTable([
                        ['Brand', 'Count'],
                        ['Google Chrome', @Model.Chrome],
                        ['Firefox', @Model.Firefox],
                        ['Opera', @Model.Opera],
                        ['Internet Explorer', @Model.IE],
                        ['Edge', @Model.Edge],
                        ['Safari', @Model.Safari],
                    ]);

                    var options = {
                        pieHole: 0.3,
                        pieSliceTextStyle: {
                            color: 'black',
                        },
                        legend: 'yes',
                        chartArea: { width: 600, height: 500 }
                    };

                    var chart = new google.visualization.PieChart(document.getElementById('donut_single'));
                    chart.draw(data, options);
                }
                    $(window).resize(function () {
                        drawChart();
                    });

    </script>
</body>
</html>
