@model gfi_test_landing.ReportCollection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReportCollection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.project_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.report_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.report_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_end)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_end)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.general_message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.general_message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.error_message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.error_message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.error_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.error_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.logs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
