@model gfi_test_landing.Bug_reporting

@{
    ViewBag.Title = "Details";
}

<div class="form-horizontal disabled">

    <!-- Message to tell the user -->
    @*<div class="alert alert-light" role="alert">
            After updating all your fields make sure to save them.
        </div>*@

    <div class="justify-content-between">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><h4>Details bug reporting </h4></div>
                <div class="card-body card-block">
                    <div class="form-group">
                        @Html.DisplayNameFor(model => model.Name)
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa ti-agenda"></i></div>
                            @Html.TextBoxFor(model => model.Name, new { @disabled = "", @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group disabled">
                        @Html.DisplayNameFor(model => model.Description)
                        <div class="input-group disabled">
                            <div class="input-group-addon" disabled><i class="fa fa-list"></i></div>
                            @Html.TextBoxFor(model => model.Description, new { @disabled = "", @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group disabled">
                        @Html.DisplayNameFor(model => model.Current_behaviour)
                        <div class="input-group disabled">
                            <div class="input-group-addon" disabled><i class="fa fa-archive"></i></div>
                            @Html.TextBoxFor(model => model.Current_behaviour, new { @disabled = "", @class = "form-control" })

                        </div>
                    </div>

                    <div class="form-group disabled">
                        @Html.DisplayNameFor(model => model.Bug_reporting_collection_id)
                        <div class="input-group disabled">
                            <div class="input-group-addon" disabled><i class="fa fa-key"></i></div>
                            @Html.TextBoxFor(model => model.Bug_reporting_collection_id, new { @disabled = "", @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group disabled">
                        @Html.DisplayNameFor(model => model.Browser)
                        <div class="input-group disabled">
                            <div class="input-group-addon" disabled><i class="fa fa-globe"></i></div>
                            @Html.TextBoxFor(model => model.Browser, new { @disabled = "", @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group disabled">
                        @Html.DisplayNameFor(model => model.Operating_system)
                        <div class="input-group disabled">
                            <div class="input-group-addon" disabled><i class="fa fa-desktop"></i></div>
                            @Html.TextBoxFor(model => model.Operating_system, new { @disabled = "", @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group disabled">
                        @Html.DisplayNameFor(model => model.Date)
                        <div class="input-group disabled">
                            <div class="input-group-addon" disabled><i class="fa fa-calendar"></i></div>
                            @Html.TextBoxFor(model => model.Date, new { @disabled = "", @class = "form-control" })

                        </div>
                    </div>

                </div>
                <p>
                    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>
