@model gfi_test_landing.Models.ProjectViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<div class="form-horizontal">
    <hr />

    <!-- Message to tell the user -->
    <div class="alert alert-light" role="alert">
        After updating all your fields make sure to save them.
    </div>
    @using (Html.BeginForm("DetailsProject", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="justify-content-between">
            @if (ViewBag.Message != null)
            {

                <div class="alert @ViewBag.Class" id="success-alert">
                    <button type="button" class="close" data-dismiss="alert">x</button>
                    <strong>@ViewBag.Message </strong>
                </div>


            }
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header"><h4>Project information</h4></div>
                    <div class="card-body card-block">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-edit"></i></div>

                                @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", @placeholder = "Project Name" })
                                @Html.ValidationMessageFor(model => model.ProjectName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa  fa-th-list"></i></div>
                                @Html.TextBoxFor(m => m.ProjectDescription, new { @class = "form-control", @placeholder = "Description" })
                                @Html.ValidationMessageFor(model => model.ProjectDescription, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.HiddenFor(m => m.UrlImage)
                            <div class="col"><label class=" form-control-label" for="select">Select the components:</label></div>
                        </div>
                        <div class="form-group">
                            <div class="row form-group">
                                <div class="col col-md-1"></div>
                                <div class="col col-md-9">
                                    @for (int i = 0; i < Model.Components.Count(); i++)
                                    {
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <label for="checkbox1" class="form-check-label ">
                                                    @*<input type="checkbox" id="checkbox(@i)" name=" @Model.Components[i].Name" value=" @Model.Components[i].Id" class="form-check-input">
                                                    *@


                                                </label>
                                                @*<input type="checkbox" name="code" aria-describedby="Code" value="@Model.Components[i].Id" />  @Model.Components[i].Name*@
                                                @Html.HiddenFor(m => m.Components[i].Id)
                                                @Html.HiddenFor(m => m.Components[i].Name)
                                                @Html.CheckBoxFor(m => m.Components[i].IsSelected)
                                                @Model.Components[i].Name
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-actions form-group">
                            <input type="submit" style="border-radius:4px;" class="btn btn-success" value="Update" />
                        </div>
                    </div>
                </div>


            </div>

            <!-- Profile Picture -->
            <div class="col-md-6">
                <div class="card" style="width: 22.7rem;">
                    <div class="card-header"><h4>Project image</h4></div>
                    <img style="margin-top:5%; padding:10%;" class="card-img-top rounded mx-auto d-block" src="@Url.Content(Model.UrlImage)">

                    <div class="card-body">
                        <p class="card-text">Upload only png or jpg under 2MB.</p>
                        @Html.TextBoxFor(m => m.Image, new { @type = "file", @class = "form-control-file" })
                    </div>
                </div>
            </div>
        </div>
    }

    @{Html.RenderAction("_UserRoleByProject", "Admin", new { id = Model.Id });}
</div>

@Scripts.Render(
    "~/Scripts/jquery-3.3.1.js")

<script>
    $(document).ready(function () {
        $('#success-alert').fadeIn('slow', function () {
            $('#success-alert').delay(5000).fadeOut();
        });
    });

</script>
